{% extends "usercinema.html" %}

{% block child_head_js %}
    <script type ="text/javascript">
        window.onload = () => {
            {% for ch in challenges %}
                var n = document.getElementById('{{ch.task}}');
                n.style.display = 'none';
                document.getElementById('{{ch.task}}').setAttribute('aria-expanded', 'false');
            {% endfor %}

        }

        function toggle(id, id2) {
            var n = document.getElementById(id);
            if (n.style.display != 'none') {
                n.style.display = 'none';
                document.getElementById(id2).setAttribute('aria-expanded', 'false');
            } else {
                n.style.display = '';
                document.getElementById(id2).setAttribute('aria-expanded', 'true');
            }
        }
    </script>
{% endblock %}

{% block child_body %}
<div class="title">
    Challenges:
</div>
<ol>
    {% for ch in challenges %}
    <li>
        <a aria-expanded="false" id="{{ch.id}}" href="#" onclick="toggle('{{ch.task}}', '{{ch.id}}')">
            {{ch}} {% if ch.is_done %} [x] {% endif %}
        </a>
    </li>
    <ul id="{{ch.task}}" display="none">
        {% for film in ch.films.all %}
            <li>{{film}}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</ol>
{% endblock %}
