{% extends "user-cinema.html" %}

{% block body %}
<div class="title">
    Film list:
</div>
<div class="centred">
    {{films_watched}}/{{films_count}}
</div>
<div class="content-list">
    {% for film in films %}
        {% if film.is_movie %}
            <div class="film-block">
        {% else %}
            <div class="serial-block">
        {% endif %}
                {% if film.film_url %}
                    <a href="{{film.film_url}}" target="_blank" rel="noopener noreferrer">
                        {{film.title}}
                    </a>
                {% else %}
                    {{film.title}}
                {% endif %}
                {{film.info}}
            </div>
    {% endfor %}
</div>
{% endblock %}
