{% extends "usercinema.html" %}

{% block child_body %}
<div class="title">
    Random film:
</div>
<div class="random_film">
    {% if film.film_url %}
        <a href="{{film.film_url}}" target="_blank" rel="noopener noreferrer">
            {{film.title}}
        </a>
    {% else %}
        {{film.title}}
    {% endif %}
</div>
<br />
<center>
    <form action="/cinema/" method="POST">
    {% csrf_token %}
            {{form}}
        <td>
            <input class="button" type="submit" name="random_choice" value="Random" />
        </td>
    </form>
</center>
{% endblock %}
