{% extends "user-cinema.html" %}

{% block body %}
<div class="title">
    Random film:
</div>
<div class="random-film">
    {% if film.film_url %}
        <a href="{{film.film_url}}" target="_blank" rel="noopener noreferrer">
            {{film.title}}
        </a>
    {% else %}
        {{film.title}}
    {% endif %}
</div>
<div class="centered">
    <form action="/cinema/random/" method="POST">
    {% csrf_token %}
            {{form}}
        <td>
            <input class="button" type="submit" name="random-choice" value="Random" />
        </td>
    </form>
</div>
{% endblock %}
