{% extends "usercinema.html" %}

{% block child_body %}
<div class="title">
    Wish list:
</div>
<ol>
    {% for wish in wishes %}
        <li>
            {% if wish.film_url %}
                <a href="{{wish.film_url}}" target="_blank" rel="noopener noreferrer">
                    {{wish.title}}
                </a>
            {% else %}
                    {{wish.title}}
            {% endif %}
            by <b>{{wish.username}}</b>
        </li>
    {% endfor %}
</ol>
<hr>
<div class="title">
    Make a wish:
</div>
<form action="/cinema/wishlist/" method="POST">
    {% csrf_token %}
    {{form|linebreaks}}
    <input type="submit" name="wlist" value="Wish">
</form>
{% if added %} <p> Added </p> {% endif %}
{% endblock %}
