footer {
    position: relative;
	margin-top: 15px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: #5C6A96;
}

a:hover {
    color: #8E9CC8;
}

img {
	border-radius: 5px;
	max-width: 80%;
	opacity: 1;
	transition: opacity 1s;
}

.ftext {
    font-size: 18px;
    margin-bottom: 5px;
}

.fcontacts {
    font-size: 15px;
}

.fcopyrighting {
    font-size: 12px;
}

.random-film {
    font-size: 25px;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
