@font-face {
    font-family: Podkova;
    src: url('/static/index/fonts/Podkova-Regular.ttf');
}

body {
    font-family: Podkova;
    font-size: 20px;
    color: #0C1A46;
    background-color: #E1E1E1;
    margin: 0px 15px 0px 15px;
}

header {
    background-color: #E1E1E1;
    position: sticky;
    padding: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

footer {
    position: relative;
	margin-top: 15px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #5C6A96;
}

a:hover {
    color: #8E9CC8;
}

ol, ul {
	margin-top: 8px;
    list-style: none;
}

img {
	border-radius: 5px;
	max-width: 80%;
	opacity: 1;
	transition: opacity 1s;
}

img[data-src] {
	opacity: 0;
}

.title {
	font-size: 30px;
}

.button {
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #E1E1E1;
    font-family: Podkova;
    font-size: 20px;
    transition-duration: 0.7s;
} 

.button:hover {
    background-color: #D0D0D0;
}

.ftext {
    font-size: 18px;
    margin-bottom: 5px;
}

.fcontacts {
    font-size: 15px;
}

.fcopyrighting {
    font-size: 12px;
}

.random_film {
    font-size: 25px;
    text-align: center;
    margin: 50px 0px 50px 0px;
}
