{% extends "admin-cinema.html" %}

{% block styles %}
<style>
.challenge-film-list {
    margin: 0px 0px 0px 30px;
}
</style>
{% endblock %}
{% block body %}
<div class="title">
    Challenges:
</div>
<div class="content-list">
    {% for ch, films in challenges %}
    <div id="{{ch.id}}" class="challenge" onclick="toggle('{{ch.task}}', '{{ch.id}}')" aria-expanded="false">
        <a href="#">
            {{ch}} {{ch.progress}}%
        </a>
        <div id="{{ch.task}}" class="challenge-film-list" style="display:none;">
            {% for film in films %}
            <div class="challenge-film">
                {{film}}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
