{% extends "admin-cinema.html" %}

{% block link_styles %}
{{ block.super }}
<link rel="stylesheet" href="/static/admin/css/base.css" />
<link rel="stylesheet" href="/static/all/css/header.css" />
<link rel="stylesheet" href="/static/admin/css/filmlist.css" />
{% endblock %}
{% block head_js %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/admin/js/new-el.js"></script>
<script src="/static/admin/js/form-actions.js"></script>
<script src="/static/admin/js/element-actions.js"></script>
<script src="/static/all/js/loadmore.js"></script>
<script src="/static/all/js/onload.js"></script>
{% endblock %}

{% block body %}
<div class="title centered">
    Film list
</div>
<div class="content-list">
    {% csrf_token %}
    <div class="searchfield centered">
        <input type="text" id="searchbox" onkeyup="searchFilms(this.value)" placeholder="Search"/>
    </div>
    {% include "admin/cinema/add/add-film.html" %}
    <input type="hidden"
           name="count"
           value="0" />
    <input type="hidden"
           name="api-pathname"
           value="/api/filmlist/" />
    <input type="hidden"
           name="block-id"
           value="list" />
    <div id="list">
    </div>
</div>
{% endblock %}
