<!DOCTYPE html>
<html>
	<head>
		<title>KAPUSTA</title>
		<style>
			.center {
				margin: 50vh 50vw 50vh 50vw;
				position: absolute;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%)
			}
		</style>
	</head>
	<body>
		<div class="center">
<pre>
$$\   $$\  $$$$$$\  $$\   $$\
$$ |  $$ |$$$ __$$\ $$ |  $$ |
$$ |  $$ |$$$$\ $$ |$$ |  $$ |
$$$$$$$$ |$$\$$\$$ |$$$$$$$$ |
\_____$$ |$$ \$$$$ |\_____$$ |
      $$ |$$ |\$$$ |      $$ |
      $$ |\$$$$$$  /      $$ |
      \__| \______/       \__|
</pre>
		</div>
	</body>
</html>
