<header>
    <div class="header-el button" onclick="window.location.pathname = '/admin/cinema/filmlist/';">
        Film List
    </div>
    <div class="header-el button" onclick="window.location.pathname = '/admin/cinema/challenges/';">
        Challenges
    </div>
    <div class="header-el button" onclick="window.location.pathname = '/admin/cinema/bestmoments/';">
        Best moments
    </div>
    <div class="header-el button" onclick="window.location.pathname = '/admin/cinema/wishlist/';">
        Wishes
    </div>
</header>
