<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8"/>
        <title>
        {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="/static/all/css/base.css"/>
        {% block link_styles %}{% endblock %}
        {% block styles %}{% endblock %}
        {% block head_js %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
