<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
        {% block child_title %}{% endblock %}
        </title>
        <link rel="stylesheet" Type="text/css" href="/static/index/css/index.css"/>
        {% block child_style %}{% endblock %}
        {% block child_head_js %}{% endblock %}
    </head>
    <body>
        {% block child_header %}{% endblock %}
        {% block child_body %}{% endblock %}
        {% block child_footer %}{% endblock %}
    </body>
</html>
