<header>
    <div class="header-el">
        <a href="/cinema/">
            <button class="button" type="button" name="flist" value="Film List">
                Film List
            </button>
        </a>
    </div>
    <div class="header-el">
        <a href="/cinema/challenges/">
            <button class="button" type="button" name="chlist" value="Challenges">
                Challenges
            </button>
        </a>
    </div>
    <div class="header-el">
        <a href="/cinema/bestmoments/">
            <button class="button" type="button" name="bmoments" value="Best moments">
                Best moments
            </button>
        </a>
    </div>
    <div class="header-el">
        <a href="/cinema/wishlist/">
            <button class="button" type="button" name="wlist" value="Wishes">
                Wishes
            </button>
        </a>
    </div>
    <div class="header-el">
        <a href="/cinema/random/">
            <button class="button" type="button" name="random" value="Random">
                Random
            </button>
        </a>
    </div>
</header>

