<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Film queue</title>
	<!-- add css -->
</head>
<h1>Film list:</h1>
<ol>
	{% for film in films %}
	<li>
		{% if film.is_movie %}
			<div id="film">
		{% else %}
			<div id="serial">
		{% endif %}
				{% if film.film_url %}
					<a href="{{film.film_url}}" target="_blank" rel="noopener noreferrer">
						{{film.html_text}}
					</a>
				{% else %}
						{{film.html_text}}
				{% endif %}
				{% if film.is_watched %}
					[x]
				{% else %}
					[ ]
				{% endif %}
			</div>
	</li>
	{% endfor %}
</ol>

