<header>
	<center>
		<table>
			<tr>
				<form action="/cinema/" method="POST">
					{% csrf_token %}
					<td><input class="button" type="submit" name="flist" value="Film List"></td>
					<td><input class="button" type="submit" name="chlist" value="Challenges"></td>
					<td><input class="button" type="submit" name="bmoments" value="Best moments"></td>
					<td><input class="button" type="submit" name="wlist" value="Wishes"></td>
					<td><input class="button" type="submit" name="random" value="Random"></td>
				</form>
			</tr>
		</table>
	</center>
</header>

