<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index/css/index.css">
		<!-- add css -->
	</head>
	<body>
		{% include "header.html" %}
		{% if not page or page == "flist" %}
			{% include "flist.html" %}
		{% elif page == "chlist" %}
			{% include "chlist.html" %}
		{% elif page == "wlist" %}
			{% include "wlist.html" %}
		{% elif page == "bmoments" %}
			{% include "bmoments.html" %}
		{% elif page == "random" %}
			{% include "random.html" %}
		{% endif %}
		{% include "footer.html" %}
	</body>
</html>
