<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Film list</title>
		<!-- add css -->
	</head>
	<body>
		{% include "header.html" %}
		{% if not page or page == "flist" %}
			{% include "flist.html" %}
		{% elif page == "chlist" %}
			{% include "chlist.html" %}
		{% elif page == "wlist" %}
			{% include "wlist.html" %}
		{% elif page == "bmoments" %}
			{% include "bmoments.html" %}
		{% endif %}
		{% include "footer.html" %}
	</body>
</html>
