<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Webms</title>
		<link rel="stylesheet" Type="text/css" href="/static/index/css/index.css"/>
	</head>
	<body>
		<center>
			<div class="title">
				Randomowo webms
			</div>
		</center>
		</br>
		<ol>
			{% for webm in webms %}
			<li>
				<a href="{{webm}}">
					{{webm.name}}
				</a>
			</li>
			{% endfor %}
		</ol>
		{% include "footer.html" %}	
	</body>
</html>
